*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
  background-color:#ffffff;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo img {
   width: 70px;
   border-radius: 50%;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.header .row{
    margin-top: 70px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
p{
    color: #555;
}
.btn{
    text-decoration:none ;
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.btn:hover{
    background: #563434;
}
.col-2 img{
   max-width: 100%;
   padding: 50px 0;

}
/* --------categories----------*/
.categories{
    margin: 11% 10% ;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 40px;
}
.title,.title1{
    text-align: center;
    margin: 0 auto 60px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.col-3{
    flex-basis: 30%;
    min-width:250px ;
    margin-bottom:30px ;
}

.col-3 img{
    width: 100%;
    border-radius: 3%;
    aspect-ratio: 0.5;
}
/* --------best selling--------*/
.title::after{
    content:'';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-4{
    position: relative;
    width: 250px;
    min-width: 200px;
    margin-bottom: 50px;
    text-align:center;
    padding: 40px 10px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: default;
    transition: transform 0.5s;
    margin: 20px;
    border-radius: 5%;
}
.row.col-4{
    border: #555;
}
button{
    font-size: large;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute; 
    top: 40%; 
    right: 10px; 
    transform: translateY(-50%); 
    background-color :rgba(255, 255, 255, 0.5); 
    color: 	#FFD700; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
}
.col-4 img{
    display: block;
    width: 100%;   
    justify-content:space-evenly;
}
.col-4:hover{
    transform: translateY(-5px);
}
.col-4:hover button{
    opacity: 1;
}
h4{
    padding-top: 20px;
    color:#1f2b59;
    font-size: medium;
}
.col-4 p{
    padding-top: 20px;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.5em; 
    font-weight: bold;
    color: #1f2b59;
}
.col-4 .p1{
    padding-top: 20px;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.3em; 
    font-weight: bold;
    color: #1f2b59;
}
/*------best offer------ */
.offer{
    background: radial-gradient(#fff,#BCC6CC) ;
    margin-top: 10%;
    padding: 30px 0;
    text-align: center;
}
.col-2 .best-offer{
    padding: 50px;
}
/*------feedback-------*/
.feedback{
    padding-top: 15%;
}

.feedback .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: default;
    transition: transform 0.5s;
}
.col-3 p{
    font-size: 14px;
    margin: 12px 0;
    color: #777;
}
.feedback .col-3 img{
    aspect-ratio: 1;
    width: 50px;
    margin: 20px;
    border-radius: 50%;
}
.feedback .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 18px;
}
.feedback .col-3:hover{
    transform: translateY(-10px);
}
/*--------brands-------- */
.manufacturer{
    padding: 5%;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: default;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}